/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background-color: #0A192F;
  color: #8892B0;
}

/* Navbar */
.custom-navbar {
  background-color: #0A192F;
}

/* Hero Section */
.hero-section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.profile-image {
  width: 180px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.profile-image:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 768px) {
  .profile-image {
    width: 350px;
  }
}
.hero-heading {
  font-size: 25px;
  color: #8892B0;
}

.hero-name {
  font-size: 40px;
  font-weight: 600;
  color: #64ffda;
}

.hero-description {
  font-size: 1.2rem;
  margin-top: 10px;
  max-width: 600px;
  line-height: 1.5;
}

.hero-buttons .btn {
  margin-right: 10px;
  margin-top: 15px;
}

@keyframes slideFromLeft {
    0% { opacity: 0; transform: translateX(-100px); }
    100% { opacity: 1; transform: translateX(0); }
  }

  /* Animation for text sliding from right */
@keyframes slideFromRight {
  0% { opacity: 0; transform: translateX(100px); }
  100% { opacity: 1; transform: translateX(0); }
}

.animate-left {
  animation: slideFromLeft 1s ease-out forwards;
}

.animate-right {
  animation: slideFromRight 1s ease-out forwards;
}